.carouselPicture {
  width: 1000px;
  height: 600px;
}

.carouselTitle {
  background-color: rgba(0, 0, 0, 0.55);
  font-size: 24px;
}

@media(max-width: 768px) {
  .carouselPicture {
    width: 300px;
    height: 200px;
  }

  .carouselTitle {
    font-size: 18px;
  }
}