.orderOnlineText {
  color: #CE363C !important;
  text-decoration: underline;
  font-weight: 600 !important;
}

.navLink {
  font-weight: 600 !important;
  color: #686868
}

.navbar {
  width: 100%;
}

@media(max-width: 660px) {
  .navbar {
    margin-bottom: 1000px;
  }
}